header {
    width: 100%;
    padding: 28px 8%;
}

#navbar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.banner-scroll {
  display: flex;              
  overflow-x: auto;           
  scroll-snap-type: x mandatory; 
  -webkit-overflow-scrolling: touch; 
}

.banner {
  flex: 0 0 auto;             
  width: 100%;                
  max-width: 1600px;          
  height: 404px;              
  object-fit: cover;          
  object-position: center;    
  scroll-snap-align: start;   
  margin-right: 10px;         
}

#nav_logo {
    width: 68px;
    height: auto;
    
}

#nav_list {
    display: flex;
    list-style: none;
    gap: 48px;
}

.nav-item a { 
    text-decoration: none;
    color: #1d1d1d;
    font-weight: 750;
    font-size: 21px;
}

.nav-item.active a {
    color: #1d1d1d;
    border-bottom: 3px solid #117758;

}
#mobile_btn {
    display: none;
}

#mobile_menu {
    display: none;
}

@media screen and (max-width: 1170px) {
    
    #nav_list, #navbar.btn-default {
        display: none;
    }

    #mobile_btn {
        display: block;
        border: none;
        background-color: transparent;
        font-size: 1.5rem;
        cursor: pointer;
    }
    
    
}