#home {
    display: flex;
    min-height: calc(100vh - 108.5px);
    position: relative;
}

#cta {
    width: 35%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 18px;
    margin: 5%;
    z-index: 3;

}

#cta .title {
    font-size: 4rem;
    color: #1d1d1d;
    width: 260%;

}

#cta .title span {
    color: #ffd900;
    font-family: anton;
    text-transform: uppercase;   
}

#cta .description {
    font-size: 1.2rem;
    width: 120%;
}

#cta_buttons {
    display: flex;
    gap: 24px;
}

#cta_buttons a {
    text-decoration: none;
    color: #1d1d1d;
    
}

#banner {
  display: flex;
  align-items: start;
  justify-content: end;
  width: 100%;

}

#banner img {
  height: 70%;
  width: fit-content;
  z-index: 2;
  position: relative;
  right: -200px;
}

.shape {
  background-color: #4f8582;
  width: 54%;
  height: 90%;
  position: absolute;
  border-radius: 40% 30% 0% 20%;
  top : 0;
  right: 0;
  z-index: 1;
}


@media screen and (max-width: 1170px) {
    #home {
        min-height: 100%;
        padding-top: 0px;

    }

    #banner,
    #banner img,
    #home .shape {
        display: none;
    }

    #cta {
        width: 100%;
        align-items: center;

    }
}
