#home {
    display: flex;
    min-height: calc(100vh - 108.5px);
    position: relative;
}

#cta {
    width: 35%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 18px;
    margin: 5%;

}

#cta .title {
    font-size: 4rem;
    color: #1d1d1d;
    width: 200%;

}

#cta .title span {
    color: #ffd900;
    font-family: anton;
    text-transform: uppercase;   
}

#cta .description {
    font-size: 1.2rem;
    width: 110%;
}

#cta_buttons {
    display: flex;
    gap: 24px;
}

#cta_buttons a {
    text-decoration: none;
    color: #1d1d1d;
}

#phone_button {
    display: flex;
    gap: 8px;
    align-items: center;
    background-color: #ffffff;
    padding: 8px 14px;
    font-weight: 600;
    box-shadow: 0px 0px 14px 4px rgba(0, 0, 0, 0.1);
    border-radius: 12px; 
}

#banner {
  display: flex;
  align-items: start;
  justify-content: end;
  width: 70%;

}

#banner img {
  height: 70%;
  width: fit-content;
  z-index: 2;
  position: relative;
  right: -200px;
}

.shape {
  background-color: #4f8582;
  width: 50%;
  height: 100%;
  position: absolute;
  border-radius: 40% 30% 0% 20%;
  top : 0;
  right: 0;
  z-index: 1;
}




