@import url('https://fonts.googleapis.com/css2?family=Anton&family=BBH+Bogle&family=Oswald:wght@200..700&display=swap');

* {
    font-family: "Montserrat", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
        
}

body {
    background-color: #64cec9;
}