@import url('https://fonts.googleapis.com/css2?family=Anton&family=BBH+Bogle&family=Oswald:wght@200..700&display=swap');

* {
    font-family: "Montserrat", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
        
}

body {
    background-color: #64cec9;
}

.btn-default {
    border: none;
    display: flex;
    aling-item: center;
    justify-content: center;
    background-color: #ffcb45;
    boarde-radius: 12px;
    padding: 10px 14px;
    font-weigth: 600;
    box-shadow: 0px 0px 10px 2px; rgba(0, 0, 0, 0,.1)
    cursor: pointer;
}
