@import url('https://fonts.googleapis.com/css2?family=Anton&family=BBH+Bogle&family=Oswald:wght@200..700&display=swap');

* {
    font-family: "Montserrat", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
        
}

body {
    background-color: #64cec9;
}

section {
    padding: 28px 8%;
}

.btn-default {
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffe600;
    border-radius: 12px;
    padding: 10px 14px;
    font-weight: 600;
    box-shadow: 0px 0px 10px 2px rgba(255, 145, 0, 0.1);
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-default:hover {
    background-color: #8f7b1a;
}


.videos-section {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 20px;
}

.video-block {
  display: flex;
  align-items: center;
  gap: 20px;
}

.video-block iframe {
  width: 50%;
  aspect-ratio: 16 / 9;
  border-radius: 10px;
  border: none;
}

.video-text {
  width: 60%;
  line-height: 1.45;

}

/* Alterna alinhamento */
.video-block.left {
  flex-direction: row; /* vídeo à esquerda, texto à direita */
}

.video-block.right {
  flex-direction: row-reverse; /* vídeo à direita, texto à esquerda */
}

/* Responsivo para celular */
@media (max-width: 768px) {
  .video-block {
    flex-direction: column !important;
  }

  .video-block iframe,
  .video-text {
    width: 100%;
  }
}

.socia-midia-buttons {
    display: flex;
    gap: 18px;
}

.socia-midia-buttons a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45px;
    height: 40px;
    background-color: #ffffff;
    font-size: 1.25rem;
    border-radius: 10px;
    text-decoration: none;
    color: 1d1d1d;
    box-shadow: 0px 0px 12px 4px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
}

.socia-midia-buttons a:hover {
    box-shadow: 0px 0px 12px 8px rgba(0, 0, 0, 0.1)
}

