@import url('https://fonts.googleapis.com/css2?family=Anton&family=BBH+Bogle&family=Oswald:wght@200..700&display=swap');

* {
    font-family: "Montserrat", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
        
}

body {
    background-color: #64cec9;
}

.btn-default {
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffe600;
    border-radius: 12px;
    padding: 10px 14px;
    font-weight: 600;
    box-shadow: 0px 0px 10px 2px rgba(255, 145, 0, 0.1);
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-default:hover {
    background-color: #8f7b1a;
}


.videos-section {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 20px;
}

.video-block {
  display: flex;
  align-items: center;
  gap: 20px;
}

.video-block iframe {
  width: 50%;
  aspect-ratio: 16 / 9;
  border-radius: 10px;
  border: none;
}

.video-text {
  width: 60%;
  line-height: 1.45;
  p {
  text-indent: 30px; /* define o recuo da primeira linha */
}

}

/* Alterna alinhamento */
.video-block.left {
  flex-direction: row; /* vídeo à esquerda, texto à direita */
}

.video-block.right {
  flex-direction: row-reverse; /* vídeo à direita, texto à esquerda */
}

/* Responsivo para celular */
@media (max-width: 768px) {
  .video-block {
    flex-direction: column !important;
  }

  .video-block iframe,
  .video-text {
    width: 100%;
  }
}
